.page-title {
    color: blue;
}

.sub-title {
    font-size: 14px;
    color: blue;
}

.card-outer {
    border: 0em !important;
}

.align-right {
    text-align: right !important;
}

.invoer{
    position: absolute;
    bottom: 0px;
}

.sub-section-div {
    margin-top: 10px;
}

.sub-section-header {
    font-size: 16px;
    color: #0dd3c9; 
    margin-left: 5px
}

.divider {
    border: 1px solid !important;
}
